In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os, json, math, time
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook

In [4]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [2]:
FOLDER = "Data/title_basics.csv.gz"

In [3]:
os.makedirs(FOLDER, exist_ok=True) 
os.listdir(FOLDER)

['AKAS.csv.gz', 'ratings.csv.gz', 'title_basics.csv.gz']

In [5]:
basics = "Data/title_basics.csv.gz"

In [6]:
YEARS_TO_GET = [2000,2001]

In [7]:
errors = []

In [10]:
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):

IndentationError: expected an indented block (3171635230.py, line 3)

In [13]:
YEAR = 2000

In [15]:
JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'

In [16]:
file_exists = os.path.isfile(JSON_FILE)

In [17]:
# If it does not exist: create it
if file_exists == False:
# save an empty dict with just "imdb_id" to the new json file.
    with open(JSON_FILE,'w') as f:
        json.dump([{'imdb_id':0}],f)

In [19]:
basic = pd.read_csv(basics)
basic.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [21]:
df = basic.loc[ basic['startYear']==YEAR].copy()
# saving movie ids to list
movie_ids = df['tconst'].copy()

In [23]:
movie_ids

7         tt0102362
13        tt0113026
14        tt0113092
18        tt0115937
19        tt0116391
            ...
142661    tt9035132
143015    tt9088396
143653    tt9209606
144552    tt9412476
144830    tt9486348
Name: tconst, Length: 2739, dtype: object

In [24]:
previous_df = pd.read_json(JSON_FILE)

In [25]:
previous_df

   imdb_id
0        0

In [26]:
movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

In [ ]:
   # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
            errors.append([movie_id, e])